<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/baseLayouts::head"> </head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Inicio</a>
</nav>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div th:if="${param.error}" class="alert alert-danger mb-3">Incorrect Data</div>
            <div class="card">

                <div class="card-header"><h4>Login</h4></div>
                <div class="card-body">

                    <form id="loginform" method="POST" th:action="@{/login-post}" role="form">
                        <div class="row form-group">
                            <label class="col-md-3">Legaje</label>
                            <input type="text" name="username" class="form-control col-md-7"/>
                        </div>

                        <div class="row form-group">
                            <label class="col-md-3">Password</label>
                            <input type="password" name="password" class="form-control col-md-7"/>
                        </div>

                        <div class="row form-group">
                            <input type="submit" class="btn btn-success btn-black col-md-7 offset-3" value="Continuar"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>